<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/ipadd_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>IPAPP</title>
</head>
<body>
    <header>
        <section>
            <h1>IPAPP</h1>
            <img src="../static/ipadd_icon.png" alt="ipadd_icon.png" width="30" height="30">
        </section>
        <nav>
            <ul>
                <li>
                    <a href="index.html">Get My IP Address Info</a>
                </li>
                <li>
                    <a href="backlog.html">Backlog</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form>
            <label for="ipadd">IP Address</label>
            <input type="text" name="ipadd" id="ipadd" placeholder="8.8.8.8">
            <button id="submitButton" type="submit">Submit</button>
        </form>
        <section>
            <ul class="result">

            </ul>
        </section>
    </main>
    <footer>
        <p>
            &copy; Team 2
        </p>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
    <script>
        const result = document.querySelector('.result')
        const button = document.getElementById('submitButton')
        const input = document.getElementById('ipadd')

        function appendInfo(data){
            const infos = Object.entries(data).map((info) => {
                    return `<li><a>${info[0]}:${info[1]}</a></li>`
                })

                
                result.innerHTML = infos.join('')
        }

        button.addEventListener("click", async(e) =>{
            e.preventDefault();
            
            try{
                const {data} = await axios.post('http://localhost:3000/ip/info', {
                    data: input.value
                });
                console.log(data);
                
                appendInfo(data);

            } catch(e) {
                console.error(e);
                result.innerHTML = `<div class="alert alert-danger">Too Much Request wait for a while.</div>`
            }
        })

        window.addEventListener('load', async(e) => {
            const ip = await axios.get('https://api.ipify.org/');

            const {data} = await axios.post('http://localhost:3000/ip/info', {
                data: ip.data
            });
            console.log(data);
                    
            appendInfo(data);
        })
        
    </script>
</body>
</html>