<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/ipadd_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>IPAPP</title>
</head>
<body>
    <header>
        <h1>IPAPP</h1>
        <img src="../static/ipadd_icon.png" alt="ipadd_icon.png" width="30" height="30">
        <nav>
            <ul>
                <li>
                    <a href="#">Get My IP Address Info</a>
                </li>
                <li>
                    <a href="#">Get Specific IP Address Info</a>
                </li>
                <li>
                    <a href="#">Backlog</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form>
            <label for="ipadd">IP Address</label>
            <input type="text" name="ipadd" id="ipadd">
            <button id="submitButton">Submit</button>
        </form>
    </main>
    <footer>
        <p>
            &copy; Team 2
        </p>
    </footer>
</body>
</html>